<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Dispensers</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    
  </head>
  <body>
    <div id="map"></div>
    <div id="dispenser_list"></div>
    <script>
        var map;
        function initMap(){
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: {lat: 34.676961, lng: -82.836331}
                });              
            }
        var dispensers = [];
        fetch('/api/')
        .then((resp) => resp.json())
        .then(function(data){
            for (var i = 0; i < data.length; i++) {
                dispenser = data[i]; 
                dispensers.push({
                    lat: parseFloat(dispenser.fields.lat), 
                    lng: parseFloat(dispenser.fields.lng),
                    url: '/api/' + dispenser.pk,
                    data: dispenser});
            }
            var markers = []; 
            for (var i = 0; i < dispensers.length; i++) {
                var dispenser = dispensers[i];
                var latLng = new google.maps.LatLng(dispenser.lat, dispenser.lng);
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map
                });
                markers.push(marker);
            }
            var markerCluster = new MarkerClusterer(map, markers,
                    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});   
        })
        .then(() => {
            var card_html = `
<div id="container" style = "width:100%">
  <div id="left" style="float:left; width:25%;">
    <div class="row">
    hello
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p class="card_text"></p>
              <div class="progress">
                <div class="determinate" style="width: 0%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
            `;
            for (var i = 0; i < dispensers.length; i++) {
                var dispenser = dispensers[i];
                var card = document.createElement("div");
                card.innerHTML = card_html;

                var title = card.getElementsByClassName("card-title")[0];
                var content = card.getElementsByClassName("card_text")[0];
                title.innerHTML = "Dispenser " + dispenser.data.pk;
                console.log(dispenser.data);
                var fields = dispenser.data.fields;
                content.innerHTML = fields.bathroom_name + " - Inventory : " + fields.inventory + " / " + fields.max_inventory;
                var percent = (fields.inventory * 100) / fields.max_inventory;
                card.getElementsByClassName("determinate")[0].style.width = percent + "%";  

                document.getElementById("dispenser_list").appendChild(card);
                
            }
        });;
        
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxEUuE6E8t1bDDtLwRCnFST5juA96nCbU&callback=initMap">
    </script>
  </body>
</html>
